{% extends 'base.html' %}

{% block content %}

<div class="header-bar">
    <br>
</div>

<div class="card-body">
    <h1>"To-Do List"</h1>
    <p>Hello! It's "To-Do List" app created with Django.<p>

    <p>The "To-Do List" program is a versatile task management tool that allows users to efficiently organize their tasks and responsibilities.
    Whether you're a student, a professional, or a homemaker, this application streamlines your life by simplifying task management.
    Here are some of the key features of this program:</p>

    <p>Registration and Login: Users can create accounts and log in to access the program's functionality.<p>

    <p>Task Creation: Easily create new tasks, specifying titles, descriptions, and any relevant details.<p>

    <p>Categorization: Organize tasks into categories like "Work," "Personal," "Education," and more. This categorization helps users quickly locate specific tasks.<p>

    <p>Editing and Deletion: Users can modify task details or remove completed or unnecessary tasks.<p>

    <p>The "To-Do List" app is a robust planning and organizational tool that empowers users to stay in control of their tasks and deadlines.
    Say goodbye to missed appointments or forgotten assignments—this program keeps you on top of your responsibilities.<p>

    <p>If you are ready to get started <a style="color: #004DE6" href="{% url 'signup' %}">Sign Up</a><p>

    <p>Or if you already have an account <a style="color: #004DE6" href="{% url 'login' %}">Login</a><p>
</div>
{% endblock %}
