{% extends 'base.html' %}

{% block content %}
<div class="header-bar">

    <a href="javascript:history.back()">&#8592; Back</a>
</div>

<div class="card-body">

    <h1>Delete Category</h1>
    <form method="post" action="">
        {% csrf_token %}
        <p>Are you sure?</p>
        <p style="margin: 0; color: red">Warning!</p>
        <p style="margin: 0; color: red">All tasks that related to this category will be also deleted!</p>
        <input style="margin-top: 30px" id="add-button" type="submit" value="Delete">
    </form>
</div>
{% endblock %}