{% extends 'base.html' %}

{% block title %}Delete Task{% endblock %}

{% block content %}
    <div class="header-bar">
        <a href="javascript:history.back()">&#8592; Back</a>
    </div>

    <div class="card-body">
        <h1>Delete Task</h1>
        <div>
            <form method="post" action="">
                {% csrf_token %}
                <p>Are you sure?</p>
                <input id="add-button" type="submit" value="Delete">
            </form>
        </div>
    </div>
{% endblock %}